<div class="w-full p-2 bg-[#F8F9FA] rounded-lg">
    <div class="w-full flex ">
        <div class="w-2/3 text-black-title text-sm font-rbt-bold md:w-5/6">
           {{ labelToglleConfig.title}}
        </div>
        <div class="w-1/3 md:w-1/6">
            <app-toggle [toggleConfig]="{
                type: '',
                isRequired: false,
                placeHolder: '',
                isDisabled: false,
                isHidden: false,
                isChecked: labelToglleConfig.isChecked,
                data: labelToglleConfig.display
            }"></app-toggle>
        </div>

    </div>
    @if (labelToglleConfig.isWithSubtitle) {
        <div class="w-full text-gray-subtitle-acdn text-xs font-mpf-rglr mt-2 md:w-2/3 md:mt-0 ">
            <span>{{ labelToglleConfig.subtitle}}</span>
        </div>
    }
</div>