<div class="flex w-full items-center py-5 border-b border-gray-division-section">
                    <app-label-select 
                        class="w-full" 
                        [labelHelp]="{
                            isRquired: true,
                            isWithHelp: true,
                            isWithSubtitle: false,
                            title: 'Ramo:',
                            subtitle: '',
                            position: 'right',
                            helpMsg: 'ayuda'
                        }" 
                        [selectConfig]="{
                            type: 'text',
                            pattern: '',
                            isrequied: true,
                            placeHolder: 'Selecciona una opción',
                            isDisable: false,
                            isHidden: false,
                            data: [
                                { value: '1', display: 'Seleccione' }
                            ],
                            id: 2
                        }" 
                    />
</div>

<div class="flex w-full items-center py-5 border-b border-gray-division-section">
                    <app-label-select 
                        class="w-full" 
                        [labelHelp]="{
                            isRquired: true,
                            isWithHelp: true,
                            isWithSubtitle: false,
                            title: 'Subramo:',
                            subtitle: '',
                            position: 'right',
                            helpMsg: 'ayuda'
                        }" 
                        [selectConfig]="{
                            type: 'text',
                            pattern: '',
                            isrequied: true,
                            placeHolder: 'Selecciona una opción',
                            isDisable: false,
                            isHidden: false,
                            data: [
                                { value: '1', display: 'Seleccione' }
                            ],
                            id: 2
                        }" 
                    />
</div>

<div class="flex w-full items-center py-5 border-b border-gray-division-section">
                    <app-label-select 
                        class="w-full" 
                        [labelHelp]="{
                            isRquired: true,
                            isWithHelp: true,
                            isWithSubtitle: false,
                            title: 'Tipo:',
                            subtitle: '',
                            position: 'right',
                            helpMsg: 'ayuda'
                        }" 
                        [selectConfig]="{
                            type: 'text',
                            pattern: '',
                            isrequied: true,
                            placeHolder: 'Selecciona una opción',
                            isDisable: false,
                            isHidden: false,
                            data: [
                                { value: '1', display: 'Seleccione' }
                            ],
                            id: 2
                        }" 
                    />
</div>

<div class="flex w-full items-center py-5 border-b border-gray-division-section">
                    <app-label-select 
                        class="w-full" 
                        [labelHelp]="{
                            isRquired: true,
                            isWithHelp: true,
                            isWithSubtitle: false,
                            title: 'Tipo emisión:',
                            subtitle: '',
                            position: 'right',
                            helpMsg: 'ayuda'
                        }" 
                        [selectConfig]="{
                            type: 'text',
                            pattern: '',
                            isrequied: true,
                            placeHolder: 'Selecciona una opción',
                            isDisable: false,
                            isHidden: false,
                            data: [
                                { value: '1', display: 'Seleccione' }
                            ],
                            id: 2
                        }" 
                    />
</div>

<div class="flex w-full items-center py-5 border-b border-gray-division-section">
                    <app-label-select 
                        class="w-full" 
                        [labelHelp]="{
                            isRquired: true,
                            isWithHelp: true,
                            isWithSubtitle: false,
                            title: 'Tipo de fianza:',
                            subtitle: '',
                            position: 'right',
                            helpMsg: 'ayuda'
                        }" 
                        [selectConfig]="{
                            type: 'text',
                            pattern: '',
                            isrequied: true,
                            placeHolder: 'Selecciona una opción',
                            isDisable: false,
                            isHidden: false,
                            data: [
                                { value: '1', display: 'Seleccione' }
                            ],
                            id: 2
                        }" 
                    />
</div>

<div class="flex w-full items-center py-5 border-b border-gray-division-section">
    <app-label-input class="w-full" [labelHelp]="{
				isRquired: true,
				isWithHelp: true,
				isWithSubtitle: false,
				title: 'Plazo:',
				subtitle: '',
				position: 'right',
				helpMsg: 'ayuda'
			}" [inputConfig]="{
				type: 'text',
				pattern: '',
				isrequied: false,
				placeHolder: 'Ingrese monto',
				isDisable: false,
				isHidden: false,
				isRead: false,
			}" />
</div>

<div class="flex w-full items-center py-5 border-b border-gray-division-section">
                    <app-label-select 
                        class="w-full" 
                        [labelHelp]="{
                            isRquired: true,
                            isWithHelp: true,
                            isWithSubtitle: false,
                            title: 'Moneda:',
                            subtitle: '',
                            position: 'right',
                            helpMsg: 'ayuda'
                        }" 
                        [selectConfig]="{
                            type: 'text',
                            pattern: '',
                            isrequied: true,
                            placeHolder: 'Selecciona una opción',
                            isDisable: false,
                            isHidden: false,
                            data: [
                                { value: '1', display: 'Seleccione' }
                            ],
                            id: 2
                        }" 
                    />
</div>

<div class="flex w-full items-center py-5 border-b border-gray-division-section">
    <app-label-input class="w-full" [labelHelp]="{
				isRquired: true,
				isWithHelp: true,
				isWithSubtitle: false,
				title: 'Monto:',
				subtitle: '',
				position: 'right',
				helpMsg: 'ayuda'
			}" [inputConfig]="{
				type: 'text',
				pattern: '',
				isrequied: false,
				placeHolder: 'Ingrese monto',
				isDisable: false,
				isHidden: false,
				isRead: false,
			}" />
</div>

<div class="flex w-full items-center py-5 border-b border-gray-division-section">
    <app-label-input class="w-full" [labelHelp]="{
				isRquired: true,
				isWithHelp: true,
				isWithSubtitle: false,
				title: 'Contratante:',
				subtitle: '',
				position: 'right',
				helpMsg: 'ayuda'
			}" [inputConfig]="{
				type: 'text',
				pattern: '',
				isrequied: false,
				placeHolder: 'Ingrese monto',
				isDisable: false,
				isHidden: false,
				isRead: false,
			}" />
</div>

<div class="flex w-full items-center py-5 border-b border-gray-division-section">
    <app-label-input class="w-full" [labelHelp]="{
				isRquired: true,
				isWithHelp: true,
				isWithSubtitle: false,
				title: 'Fiado:',
				subtitle: '',
				position: 'right',
				helpMsg: 'ayuda'
			}" [inputConfig]="{
				type: 'text',
				pattern: '',
				isrequied: false,
				placeHolder: 'Ingrese monto',
				isDisable: false,
				isHidden: false,
				isRead: false,
			}" />
</div>

<div class="flex w-full items-center py-5 border-b border-gray-division-section">
    <app-label-input class="w-full" [labelHelp]="{
				isRquired: true,
				isWithHelp: true,
				isWithSubtitle: false,
				title: 'Beneficiario:',
				subtitle: '',
				position: 'right',
				helpMsg: 'ayuda'
			}" [inputConfig]="{
				type: 'text',
				pattern: '',
				isrequied: false,
				placeHolder: 'Ingrese monto',
				isDisable: false,
				isHidden: false,
				isRead: false,
			}" />
</div>


<div class="flex w-full items-center py-5 border-b border-gray-division-section">
                    <app-label-select 
                        class="w-full" 
                        [labelHelp]="{
                            isRquired: true,
                            isWithHelp: true,
                            isWithSubtitle: false,
                            title: 'Técnico Territorial:',
                            subtitle: '',
                            position: 'right',
                            helpMsg: 'ayuda'
                        }" 
                        [selectConfig]="{
                            type: 'text',
                            pattern: '',
                            isrequied: true,
                            placeHolder: 'Selecciona una opción',
                            isDisable: false,
                            isHidden: false,
                            data: [
                                { value: '1', display: 'Seleccione' }
                            ],
                            id: 2
                        }" 
                    />
</div>


<div class="flex w-full items-center py-5 border-b border-gray-division-section">
                    <app-label-select 
                        class="w-full" 
                        [labelHelp]="{
                            isRquired: true,
                            isWithHelp: true,
                            isWithSubtitle: false,
                            title: 'Agente:',
                            subtitle: '',
                            position: 'right',
                            helpMsg: 'ayuda'
                        }" 
                        [selectConfig]="{
                            type: 'text',
                            pattern: '',
                            isrequied: true,
                            placeHolder: 'Selecciona una opción',
                            isDisable: false,
                            isHidden: false,
                            data: [
                                { value: '1', display: 'Seleccione' }
                            ],
                            id: 2
                        }" 
                    />
</div>

<div class="flex w-full items-start py-5 ">
    <div class="w-full">
        <label class="block text-base font-medium text-black mb-5">
            Concepto Garantizado:
        </label>
        <textarea
            class="w-full min-h-[120px] rounded-md border border-gray-300 p-3 text-sm focus:outline-none focus:ring-2 focus:ring-gray-400 resize-none"
            placeholder="Describe tu solicitud..."></textarea>
    </div>
</div>

<div class="flex w-full items-start py-5 ">
    <div class="w-full">
        <label class="block text-base font-medium text-black mb-5">
            Texto:
        </label>
        <textarea
            class="w-full min-h-[120px] rounded-md border border-gray-300 p-3 text-sm focus:outline-none focus:ring-2 focus:ring-gray-400 resize-none"
            placeholder="Describe tu solicitud..."></textarea>
    </div>
</div>


<div class="flex w-full items-center py-5 border-b border-gray-division-section">
                    <app-label-select 
                        class="w-full" 
                        [labelHelp]="{
                            isRquired: true,
                            isWithHelp: true,
                            isWithSubtitle: false,
                            title: 'Producción:',
                            subtitle: '',
                            position: 'right',
                            helpMsg: 'ayuda'
                        }" 
                        [selectConfig]="{
                            type: 'text',
                            pattern: '',
                            isrequied: true,
                            placeHolder: 'Selecciona una opción',
                            isDisable: false,
                            isHidden: false,
                            data: [
                                { value: '1', display: 'Seleccione' }
                            ],
                            id: 2
                        }" 
                    />
</div>


<!--


<div class="flex w-full items-start py-5 ">
    <div class="w-full">
        <label class="block text-base font-medium text-black mb-5">
            Relato:
        </label>
        <textarea
            class="w-full min-h-[120px] rounded-md border border-gray-300 p-3 text-sm focus:outline-none focus:ring-2 focus:ring-gray-400 resize-none"
            placeholder="Describe tu solicitud..."></textarea>
    </div>
</div>

<div class="flex w-full items-start py-5 ">
    <div class="w-full">
        <label class="block text-base font-medium text-black mb-5">
            Necesidad:
        </label>
        <textarea
            class="w-full min-h-[120px] rounded-md border border-gray-300 p-3 text-sm focus:outline-none focus:ring-2 focus:ring-gray-400 resize-none"
            placeholder="Describe tu solicitud..."></textarea>
    </div>
</div>

<div class="mb-4">
    <p class="text-base">
        <span class="font-bold">
            ¿Tienes un archivo? Súbelo aquí.
        </span>
        Formatos permitidos: .xls, .xlsx, .doc, .docx, .pdf, .jpg.
    </p>
</div>

<div class="flex w-full items-center py-5 border-b border-gray-division-section">

    <app-label-upload class="w-full md:w-[70%]" [labelHelp]="{
			isRquired: false,
			isWithHelp: true,
			isWithSubtitle: false,
			title: 'Adjuntar archivo',
			subtitle: '',
			position: 'right',
			helpMsg: 'ayuda'
		}" />

</div>

-->


<div class="w-full mt-5 inline-block md:flex md:justify-center">
  <app-button
    class="mr-4"
    [buttonConfig]="{
                type: 2,
                label: '',
              }"
  >
    Referencia Negativa
  </app-button>
 
  <app-button
    
    class="mr-4"
    [buttonConfig]="{
			type: 2,
			label: '',
		  }"
  >
    Calcular
  </app-button>

  <app-button
  
    class="mr-4"
    [buttonConfig]="{
            type: 2,
            label: '',
          }"
  >
    Emitir
  </app-button>
</div>
<!--Botones-->
