  <!--
  <div class="input-element w-full ">
    <form [formGroup]="inputElementFrm" autocomplete="off">
        <div class="relative">            
            <input (blur)="onKey($event)" #inputView
                    [style.text-transform]="inputConfig.textTransform"
                    formControlName="inputElement" 
                    [type]="inputConfig.type"
                    class="w-full placeholder:text-slate-400 text-black-text-input text-base   border border-gray-border-input rounded-lg  px-3 py-2 transition duration-300 ease  focus:border-slate-400" 
                    [ngClass]="[inputElementFrm.controls['inputElement'].errors?.['required'] && inputElementFrm.dirty ? 
                                'text-red-700 border-red-200 focus:outline-none focus:border-red-500 hover:border-red-500' : ''
                                , inputConfig.isDisable ? 'border border-transparent focus:border-transparent focus:ring-0 text-[#75848D] bg-[#F4F6F7]' : '']"
                    [placeholder]="inputConfig.placeHolder" 
                    [disabled]="inputConfig.isDisable"
                    id="disabled-input"
                    [maxlength]="inputConfig.maxLength ?? null"
                    aria-label="disabled input"
                    [readonly]="inputConfig.isRead"
                    [value]="actualValue"/>

            <span *ngIf="inputElementFrm.valid && inputConfig.isrequied">

                <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" class="absolute w-5 h-5 top-3.5 right-2.5" >
                  <path d="M3.3335 8.66602L6.00016 11.3327L12.6668 4.66602" stroke="#008C47" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>
              
          </div>
          <!--<p *ngIf="inputElementFrm.controls['inputElement'].errors?.['required'] && inputElementFrm.dirty" class="mt-2 text-sm text-red-600 dark:text-red-500">Campo requerido</p>--
    </form>
  </div>
-->

  <div class="input-element w-full relative " [hidden]="inputConfig.isHidden">
    <form [formGroup]="inputElementFrm" autocomplete="off">
        <div class="relative">
            <input #inputView
                    formControlName="inputElement"
                    [type]="inputConfig.type"
                    class="w-full placeholder:text-slate-400 text-black-text-input text-base   border border-gray-border-input rounded-lg  px-3 py-2 transition duration-300 ease  focus:border-slate-400"
                    [ngClass]="[inputElementFrm.controls.inputElement.errors?.['required'] && inputElementFrm.dirty ?
                                'text-red-700 border-red-200 focus:outline-none focus:border-red-500 hover:border-red-500' : ''
                                , inputConfig.isDisable ? 'border border-transparent focus:border-transparent focus:ring-0 text-[#75848D] bg-[#F4F6F7]' : '']"
                    [placeholder]="inputConfig.placeHolder"
                    id="disabled-input"
                    aria-label="disabled input"
                    [readonly]="inputConfig.isRead"
                    [class.cursor-not-allowed]="inputConfig.isDisable"
                    />
            <span *ngIf="inputElementFrm.valid && inputConfig.isrequied">

                <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" class="absolute w-5 h-5 top-3.5 right-2.5" >
                  <path d="M3.3335 8.66602L6.00016 11.3327L12.6668 4.66602" stroke="#008C47" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
            </span>

          </div>
          <p *ngIf="inputElementFrm.controls['inputElement'].errors?.['required'] && inputElementFrm.dirty" class="mt-2 text-sm text-red-600 dark:text-red-500">Campo requerido</p>
    </form>
    @if (inputConfig.isInfo) {
      <span class="flex gap-2 font-normal  text-base text-[#818080] mt-0  items-center"
       [class.absolute]="isLabelAbsolute"
       [class.md:text-sm]="isLabelAbsolute"
       [class.2md:text-base]="isLabelAbsolute">
          <img src="/assets/icons/Info-Circle.svg" alt="">
           <div class="mt-[3px]">{{ inputConfig.labelInfo }}</div>
      </span>
  }
  </div>
