<app-navbar [sideNav]="sideNav" (isOpenSideBar)="barra($event)"></app-navbar>

<aside id="logo-sidebar"
  class="fixed barraLateral left-0 z-40 h-full top-[80px] transition-transform -translate-x-full bg-black border-r border-gray-200 sm:translate-x-0 md:block hidden text-white">
  <div class="flex px-4 mb-3 h-16 items-center">
    <div>
      <img class="min-w-8" width="40" src="/assets/imgs/user.png" alt="user photo" />
    </div>
  </div>

  <div class="pb-4 menu overflow-y-auto altura-personalizada">
    <div class="flex flex-col space-y-2 font-medium">
      <nav class="overflow-y-auto altura-personalizada px-2 pb-4">
        <ul class="space-y-1">
          @for (item of sideBarItems; track item.id) {
          <app-sidebar-menu-item [item]="item" [depth]="0" />
          }
        </ul>
      </nav>
    </div>
  </div>

</aside>
<div class="order-2 col-span-5 md:col-span-7 md:pr-5 mt-20 sm:ml-72">
  <router-outlet />
</div>