<app-navbar [sideNav]="sideNav" (isOpenSideBar)="barra($event)"></app-navbar>

<aside
  id="logo-sidebar"
  class="fixed mini-barra-lateral left-0 z-40 h-full top-[80px] transition-transform -translate-x-full bg-black border-r border-gray-200 sm:translate-x-0 md:block hidden text-white"
>
  <div class="flex px-4 mb-3 h-16 items-center">
    <div>
      <img
        class="min-w-8"
        width="40"
        src="/assets/imgs/user.png"
        alt="user photo"
      />
    </div>
    @if (this.isOpenSideBar) {
      <div class="ml-5 flex flex-col">
        <label for="" class="text-title-menu text-base font-poppins-semibold text"
          >Ivette García</label
        >
        <p class="text-item-menu text-base font-poppins-semibold">
          Asesor #1209
        </p>
      </div>
    }
  </div>

  <div class="pb-4 menu overflow-y-auto altura-personalizada">
    <div class="flex flex-col space-y-2 font-medium">
      @for (item of sideBarItems; track $index) {
        @if ($index !== 0) {
          <hr class="opacity-25" />
        }
        <div class="flex flex-row relative">
          <div
            [id]="item.id"
            [attr.data-tooltip-target]="'tooltip-' + item.id"
            data-tooltip-placement="right"
            class="flex w-full h-9 py-2 pl-2 relative transition-all text-item-menu cursor-pointer hover:bg-back-menu hover:border-l-2 hover:border-red-mafe hover:text-red-mafe text-white"
            [class.itemActived]="item.isActive"
            (click)="onClickMenu(item)"
          >
            <div class="w-fit px-4 text-gray-900 group cursor-pointer">
              @if (item.isActive) {
                <img
                  [src]="item.iconActive"
                  alt=""
                  width="22"
                  height="22"
                  class="min-w-6"
                />
              } @else {
                <img
                  [src]="item.icon"
                  alt=""
                  width="22"
                  height="22"
                  class="min-w-6"
                />
              }
            </div>
            @if (this.isOpenSideBar) {
              <div class="flex flex-row justify-between w-full items-center">
                <div class="ml-2 text-base font-poppins-semibold">
                  {{ item.name }}
                </div>
                @if (item.menus && item.menus.length > 0) {
                  @if (item.isActive) {
                    <span class="float-end mr-2"
                      ><img src="/assets/icons/menu/VectorRed.svg" alt=""
                    /></span>
                  } @else {
                    <span class="float-end mr-2"
                      ><img src="/assets/icons/menu/Vector.svg" alt=""
                    /></span>
                  }
                }
              </div>
            }
          </div>
        </div>
        @if (item.menus && item.menus.length > 0) {
          <div
            class="bg-black rounded-xl w-80 overflow-auto absolute z-50 top-[-10px] left-20 hidden max-h-[250px] flex-col pb-2"
            [id]="item.id + '-menu'"
          >
            <div class="p-4">
              <label for="" class="text-title-menu text-sm">{{
                item.name
              }}</label>
            </div>
            <hr class="bg-gray-division-section opacity-25" />
            <div
              class="flex flex-col w-full example-list text-gray-btn-subtitle"
            >
              @for (menu of item.menus; track $index) {
                <div
                  [id]="menu.id"
                  class="w-full py-2 flex items-center transition-all hover:bg-back-menu hover:border-l-2 hover:border-red-mafe hover:text-red-mafe text-item-menu"
                  [class.itemActived]="menu.isActive"
                >
                  <button
                    class="flex px-3 items-center justify-between w-full"
                    (click)="onClickSubMenu(menu)"
                  >
                    <div class="flex items-center w-3/4">
                      @if (menu.isActive) {
                        <span class="pr-4"
                          ><img [src]="menu.iconActive" alt=""
                        /></span>
                      } @else {
                        <span class="pr-4"
                          ><img [src]="menu.icon" alt=""
                        /></span>
                      }
                      <a class="text-sm" href={{menu.path}}>{{ menu.name }}</a>
                    </div>
                    <div class="">
                      @if (menu.subMenus && menu.subMenus.length > 0) {
                        @if (menu.isActive) {
                          <span class="float-end"
                            ><img src="/assets/icons/menu/VectorRed.svg" alt=""
                          /></span>
                        } @else {
                          <span class="float-end"
                            ><img src="/assets/icons/menu/Vector.svg" alt=""
                          /></span>
                        }
                      }
                    </div>
                  </button>
                </div>
                @if (menu.subMenus && menu.subMenus.length > 0) {
                  <div
                    class="bg-black rounded-xl w-80 overflow-auto fixed z-[99999] left-[402px] max-h-[250px] flex-col hidden pb-2"
                    [id]="menu.id + '-submenu'"
                  >
                    <div class="p-4">
                      <label for="" class="text-title-menu text-sm">{{
                        menu.name
                      }}</label>
                    </div>
                    @for (subMenu of menu.subMenus; track $index) {
                      <div
                        [id]="subMenu.id"
                        class="w-full py-2 flex items-center transition-all hover:bg-back-menu hover:border-l-2 hover:border-red-mafe hover:text-red-mafe text-item-menu"
                        [class.itemActived]="subMenu.isActive"
                      >
                        <button
                          class="flex px-3 items-center justify-between w-full"
                          (click)="onClickSubSubmenu(subMenu)"
                        >
                          <div class="flex items-center w-3/4">
                            @if (subMenu.isActive) {
                              <span class="pr-4"
                                ><img [src]="subMenu.iconActive" alt=""
                              /></span>
                            } @else {
                              <span class="pr-4"
                                ><img [src]="subMenu.icon" alt=""
                              /></span>
                            }
                            <span class="text-sm">{{ subMenu.name }}</span>
                          </div>
                        </button>
                      </div>
                    }
                  </div>
                }
              }
            </div>
          </div>
        }
        <div
          [id]="'tooltip-' + item.id"
          role="tooltip"
          class="absolute z-10 invisible inline-block px-3 py-2 text-base w-32 text-white transition-opacity duration-200 bg-red-mafe rounded-lg shadow-sm opacity-0 tooltip"
        >
          {{ item.name }}
          <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
      }
    </div>
  </div>
</aside>

<!-- Responsive-->
<aside #sideResponsive
  class="fixed left-0 z-40 flex-col h-full pt-8  w-full  transition-all ease-out duration-500 hidden sm:block bg-black border-r border-gray-200 sm:w-[80px]  md:hidden"
>
  <div class="flex flex-row px-4 mb-3 h-16 items-center justify-center">
    <div>
      <img
        class="min-w-8"
        width="40"
        src="/assets/imgs/user.png"
        alt="user photo"
      />
    </div>

  @if(this.openSideBarResp()) {
       <div class="ml-5 flex flex-col">
      <label for="" class="text-title-menu text-base font-poppins-semibold text-white"
        >Ivette García</label
      >
      <p class="text-item-menu text-base font-poppins-semibold text-white">Asesor #1209</p>
    </div>
  }

  </div>
  <div class="pb-4 menu overflow-y-auto altura-personalizada sm:overflow-x-hidden">
    @for (item of sideBarItems; track $index) {
      @if ($index !== 0) {
        <hr class="opacity-25" />
      }
      <div class="flex flex-row">
        <div
          [id]="item.id"
          class="flex w-full h-9 py-2 pl-2 relative transition-all text-item-menu cursor-pointer hover:bg-back-menu hover:border-l-2 hover:border-red-mafe hover:text-red-mafe"
          [class.itemActived]="item.isActive"
          (click)="onClickMenuResp(item)"
        >
          <div class="w-fit px-4 text-gray-900 group cursor-pointer">
            @if (item.isActive) {
              <img
                [src]="item.iconActive"
                alt=""
                width="22"
                height="22"
                class="min-w-6"
              />
            } @else {
              <img
                [src]="item.icon"
                alt=""
                width="22"
                height="22"
                class="min-w-6"
              />
            }
          </div>
          @if(this.openSideBarResp()) {
             <div class="flex flex-row justify-between w-full items-center text-white">
            <div class="ml-2 text-base font-poppins-semibold">
              {{ item.name }}
            </div>
            @if (item.menus && item.menus.length > 0) {
              @if (item.isActive) {
                <span class="float-end mr-2">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="16px"
                    viewBox="0 -960 960 960"
                    width="16px"
                    fill="#d81e05"
                  >
                    <path d="M200-440v-80h560v80H200Z" />
                  </svg>
                </span>
              } @else {
                <span class="float-end mr-2"
                  ><img src="/assets/icons/menu/PlusWhite.svg" alt=""
                /></span>
              }
            }
          </div>
          }
        </div>
      </div>

      @if (item.menus && item.menus.length > 0 && item.isActive && this.openSideBarResp()) {
        <div class="flex flex-col w-full pl-5 py-2 text-white">
          @for (menu of item.menus; track $index) {
            <div
              [id]="menu.id"
              class="w-full py-2 flex items-center transition-all hover:bg-back-menu hover:border-l-2 hover:border-red-mafe hover:text-red-mafe text-item-menu"
              [class.itemActived]="menu.isActive"
            >
              <button
                class="flex px-3 items-center justify-between w-full"
                (click)="onClickSubMenuResp(menu)"
              >
                <div class="flex items-center w-3/4">
                  @if (menu.isActive) {
                    <span class="pr-4"
                      ><img [src]="menu.iconActive" alt=""
                    /></span>
                  } @else {
                    <span class="pr-4"><img [src]="menu.icon" alt="" /></span>
                  }
                  <span class="text-sm">{{ menu.name }}</span>
                </div>
                <div class="">
                  @if (menu.subMenus && menu.subMenus.length > 0) {
                    @if (menu.isActive) {
                      <span class="float-end mr-2">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="16px"
                          viewBox="0 -960 960 960"
                          width="16px"
                          fill="#d81e05"
                        >
                          <path d="M200-440v-80h560v80H200Z" />
                        </svg>
                      </span>
                    } @else {
                      <span class="float-end mr-2"
                        ><img src="/assets/icons/menu/PlusWhite.svg" alt=""
                      /></span>
                    }
                  }
                </div>
              </button>
            </div>

            @if( menu.subMenus && menu.subMenus.length > 0 && menu.isActive && this.openSideBarResp()) {
              <div class="flex flex-col w-full pl-6 py-2">
                @for (subMenu of menu.subMenus; track $index) {
                  <div
                        [id]="subMenu.id"
                        class="w-full py-2 flex items-center transition-all hover:bg-back-menu hover:border-l-2 hover:border-red-mafe hover:text-red-mafe text-item-menu"
                        [class.itemActived]="subMenu.isActive"
                      >
                        <button
                          class="flex px-3 items-center justify-between w-full"
                          (click)="onClickSubSubmenuReps(subMenu)"
                        >
                          <div class="flex items-center w-3/4">
                            @if (subMenu.isActive) {
                              <span class="pr-4"
                                ><img [src]="subMenu.iconActive" alt=""
                              /></span>
                            } @else {
                              <span class="pr-4"
                                ><img [src]="subMenu.icon" alt=""
                              /></span>
                            }
                            <span class="text-sm">{{ subMenu.name }}</span>
                          </div>
                        </button>
                      </div>
                }
              </div>

            }
          }
        </div>
      }
    }
  </div>
</aside>

<div
  class="grid md:grid-cols-7 grid-flow-row col-span-2 mt-12 p-2 sm:ml-24"
  [ngClass]="isOpenSideBar ? 'sm:ml-72' : 'sm:ml-24'"
>
  <div class="order-2 col-span-5 md:col-span-7 md:pr-5 mt-14">
    <router-outlet />
  </div>
</div>
