
<!-- TIPO DE PERSONA (diferenciador) -->
<div class="mt-6 mb-6">
  <h3 class="text-lg font-bold mb-4">Datos Generales</h3>

  <div
    class="flex w-full items-center py-5 border-b border-gray-division-section"
  >
    <app-label-select
      class="w-full"
      [labelHelp]="{
        isRequired: true,
        isWithHelp: false,
        isWithSubtitle: false,
        title: 'Tipo de Persona:',
        subtitle: '',
        position: 'right',
        helpMsg: '',
      }"
      [selectConfig]="{
        type: 'text',
        pattern: '',
        isRequired: true,
        placeHolder: 'Selecciona una opción',
        isDisabled: false,
        isHidden: false,
        data: [
          { value: 'fisica', display: 'Física' },
          { value: 'moral', display: 'Moral' },
        ],
      }"
      (itemSelected)="onTipoPersonaChange($event)"
    />
  </div>
</div>

<!-- ============================== -->
<!-- CAMPOS SOLO PARA PERSONA FÍSICA -->
<!-- ============================== -->
@if (tipoPersona() === "fisica") {
  <div class="mt-6 mb-6">
    <h3 class="text-lg font-bold mb-4">Datos Personales</h3>

    <div
      class="flex w-full items-center py-5 border-b border-gray-division-section"
    >
      <app-label-input
        class="w-full"
        [labelHelp]="{
          isRequired: true,
          isWithHelp: false,
          isWithSubtitle: false,
          title: 'Nombre(s):',
          subtitle: '',
          position: 'right',
          helpMsg: '',
        }"
        [inputConfig]="{
          type: 'text',
          pattern: '',
          isRequired: true,
          placeHolder: 'Ingrese nombre(s)',
          isDisabled: false,
          isHidden: false,
          isRead: false,
        }"
        [control]="nombres"
      />
    </div>

    <div
      class="flex w-full items-center py-5 border-b border-gray-division-section"
    >
      <app-label-input
        class="w-full"
        [labelHelp]="{
          isRequired: true,
          isWithHelp: false,
          isWithSubtitle: false,
          title: '1er Apellido:',
          subtitle: '',
          position: 'right',
          helpMsg: '',
        }"
        [inputConfig]="{
          type: 'text',
          pattern: '',
          isRequired: true,
          placeHolder: 'Ingrese primer apellido',
          isDisabled: false,
          isHidden: false,
          isRead: false,
        }"
        [control]="primerApellido"
      />
    </div>

    <div
      class="flex w-full items-center py-5 border-b border-gray-division-section"
    >
      <app-label-input
        class="w-full"
        [labelHelp]="{
          isRequired: false,
          isWithHelp: false,
          isWithSubtitle: false,
          title: '2do Apellido:',
          subtitle: '',
          position: 'right',
          helpMsg: '',
        }"
        [inputConfig]="{
          type: 'text',
          pattern: '',
          isRequired: false,
          placeHolder: 'Ingrese segundo apellido',
          isDisabled: false,
          isHidden: false,
          isRead: false,
        }"
        [control]="segundoApellido"
      />
    </div>

    <div
      class="flex w-full items-center py-5 border-b border-gray-division-section"
    >
      <app-label-input
        class="w-full"
        [labelHelp]="{
          isRequired: true,
          isWithHelp: false,
          isWithSubtitle: false,
          title: 'Fecha de Nacimiento:',
          subtitle: '',
          position: 'right',
          helpMsg: '',
        }"
        [inputConfig]="{
          type: 'text',
          pattern: '',
          isRequired: true,
          placeHolder: '',
          isDisabled: false,
          isHidden: false,
          isRead: false,
        }"
        [control]="fechaNacimiento"
      />
    </div>

    <div
      class="flex w-full items-center py-5 border-b border-gray-division-section"
    >
      <app-label-input
        class="w-full"
        [labelHelp]="{
          isRequired: false,
          isWithHelp: true,
          isWithSubtitle: false,
          title: 'RFC:',
          subtitle: '',
          position: 'right',
          helpMsg: '13 caracteres alfanuméricos',
        }"
        [inputConfig]="{
          type: 'text',
          pattern: '',
          isRequired: false,
          placeHolder: 'Ej. ABC123456XYZ',
          isDisabled: false,
          isHidden: false,
          isRead: false,
        }"
        [control]="rfcFisica"
      />
    </div>

    <div
      class="flex w-full items-center py-5 border-b border-gray-division-section"
    >
      <app-label-input
        class="w-full"
        [labelHelp]="{
          isRequired: false,
          isWithHelp: true,
          isWithSubtitle: false,
          title: 'CURP:',
          subtitle: '',
          position: 'right',
          helpMsg: '18 caracteres alfanuméricos',
        }"
        [inputConfig]="{
          type: 'text',
          pattern: '',
          isRequired: false,
          placeHolder: 'Ej. ABCD123456HDFXYZ00',
          isDisabled: false,
          isHidden: false,
          isRead: false,
        }"
        [control]="curp"
      />
    </div>

    <div
      class="flex w-full items-center py-5 border-b border-gray-division-section"
    >
      <app-label-select
        class="w-full"
        [labelHelp]="{
          isRequired: false,
          isWithHelp: false,
          isWithSubtitle: false,
          title: 'Sexo:',
          subtitle: '',
          position: 'right',
          helpMsg: '',
        }"
        [selectConfig]="{
          type: 'text',
          pattern: '',
          isRequired: false,
          placeHolder: 'Selecciona una opción',
          isDisabled: false,
          isHidden: false,
          data: [
            { value: 'hombre', display: 'Hombre' },
            { value: 'mujer', display: 'Mujer' },
          ],
        }"
      />
    </div>

    <div
      class="flex w-full items-center py-5 border-b border-gray-division-section"
    >
      <app-label-select
        class="w-full"
        [labelHelp]="{
          isRequired: false,
          isWithHelp: false,
          isWithSubtitle: false,
          title: 'Nacionalidad:',
          subtitle: '',
          position: 'right',
          helpMsg: '',
        }"
        [selectConfig]="{
          type: 'text',
          pattern: '',
          isRequired: false,
          placeHolder: 'Selecciona una opción',
          isDisabled: false,
          isHidden: false,
          data: [
            { value: 'mexicana', display: 'Mexicana' },
            { value: 'extranjero', display: 'Extranjero' },
          ],
        }"
      />
    </div>

    <div
      class="flex w-full items-center py-5 border-b border-gray-division-section"
    >
      <app-label-select
        class="w-full"
        [labelHelp]="{
          isRequired: false,
          isWithHelp: false,
          isWithSubtitle: false,
          title: 'Estado Civil:',
          subtitle: '',
          position: 'right',
          helpMsg: '',
        }"
        [selectConfig]="{
          type: 'text',
          pattern: '',
          isRequired: false,
          placeHolder: 'Selecciona una opción',
          isDisabled: false,
          isHidden: false,
          data: [
            { value: 'soltero', display: 'Soltero' },
            { value: 'casado', display: 'Casado' },
            { value: 'viudo', display: 'Viudo' },
            { value: 'divorciado', display: 'Divorciado' },
          ],
        }"
      />
    </div>

    <div
      class="flex w-full items-center py-5 border-b border-gray-division-section"
    >
      <app-label-input
        class="w-full"
        [labelHelp]="{
          isRequired: false,
          isWithHelp: false,
          isWithSubtitle: false,
          title: 'Profesión / Ocupación:',
          subtitle: '',
          position: 'right',
          helpMsg: '',
        }"
        [inputConfig]="{
          type: 'text',
          pattern: '',
          isRequired: false,
          placeHolder: 'Ingrese profesión u ocupación',
          isDisabled: false,
          isHidden: false,
          isRead: false,
        }"
        [control]="profesion"
      />
    </div>
  </div>

  <!-- Contacto física -->
  <div class="mt-6 mb-6">
    <h3 class="text-lg font-bold mb-4">Contacto</h3>

    <div
      class="flex w-full items-center py-5 border-b border-gray-division-section"
    >
      <app-label-input
        class="w-full"
        [labelHelp]="{
          isRequired: false,
          isWithHelp: true,
          isWithSubtitle: false,
          title: 'Tel. Celular:',
          subtitle: '',
          position: 'right',
          helpMsg: '10 dígitos',
        }"
        [inputConfig]="{
          type: 'text',
          pattern: '',
          isRequired: false,
          placeHolder: 'Ej. 5512345678',
          isDisabled: false,
          isHidden: false,
          isRead: false,
        }"
        [control]="telCelular"
      />
    </div>
  </div>

  <!-- Identificación física -->
  <div class="mt-6 mb-6">
    <h3 class="text-lg font-bold mb-4">Identificación</h3>

    <div
      class="flex w-full items-center py-5 border-b border-gray-division-section"
    >
      <app-label-select
        class="w-full"
        [labelHelp]="{
          isRequired: false,
          isWithHelp: false,
          isWithSubtitle: false,
          title: 'País de Nacimiento:',
          subtitle: '',
          position: 'right',
          helpMsg: '',
        }"
        [selectConfig]="{
          type: 'text',
          pattern: '',
          isRequired: false,
          placeHolder: 'Selecciona una opción',
          isDisabled: false,
          isHidden: false,
          data: [
            { value: 'mexico', display: 'México' },
            { value: 'otro', display: 'Otro' },
          ],
        }"
      />
    </div>

    <div
      class="flex w-full items-center py-5 border-b border-gray-division-section"
    >
      <app-label-select
        class="w-full"
        [labelHelp]="{
          isRequired: false,
          isWithHelp: false,
          isWithSubtitle: false,
          title: 'Tipo de Identificación:',
          subtitle: '',
          position: 'right',
          helpMsg: '',
        }"
        [selectConfig]="{
          type: 'text',
          pattern: '',
          isRequired: false,
          placeHolder: 'Selecciona una opción',
          isDisabled: false,
          isHidden: false,
          data: [
            { value: 'pasaporte', display: 'Pasaporte' },
            { value: 'cedula', display: 'Cédula' },
            { value: 'licencia', display: 'Licencia de Conducir' },
          ],
        }"
      />
    </div>

    <div
      class="flex w-full items-center py-5 border-b border-gray-division-section"
    >
      <app-label-input
        class="w-full"
        [labelHelp]="{
          isRequired: false,
          isWithHelp: false,
          isWithSubtitle: false,
          title: 'No. Identificación:',
          subtitle: '',
          position: 'right',
          helpMsg: '',
        }"
        [inputConfig]="{
          type: 'text',
          pattern: '',
          isRequired: false,
          placeHolder: 'Ingrese número de identificación',
          isDisabled: false,
          isHidden: false,
          isRead: false,
        }"
        [control]="noIdentificacionFisica"
      />
    </div>

    <div
      class="flex w-full items-center py-5 border-b border-gray-division-section"
    >
      <app-label-upload
        class="w-full"
        [labelHelp]="{
          isRequired: false,
          isWithHelp: true,
          isWithSubtitle: false,
          title: 'Firma Electrónica A:',
          subtitle: '',
          position: 'right',
          helpMsg: 'PDF, JPG O PNG',
        }"
      />
    </div>
  </div>
}

<!-- ============================== -->
<!-- CAMPOS SOLO PARA PERSONA MORAL -->
<!-- ============================== -->
@if (tipoPersona() === "moral") {
  <div class="mt-6 mb-6">
    <h3 class="text-lg font-bold mb-4">Datos Persona Moral</h3>

    <div
      class="flex w-full items-center py-5 border-b border-gray-division-section"
    >
      <app-label-input
        class="w-full"
        [labelHelp]="{
          isRequired: true,
          isWithHelp: false,
          isWithSubtitle: false,
          title: 'Razón Social:',
          subtitle: '',
          position: 'right',
          helpMsg: '',
        }"
        [inputConfig]="{
          type: 'text',
          pattern: '',
          isRequired: true,
          placeHolder: 'Ingrese razón social',
          isDisabled: false,
          isHidden: false,
          isRead: false,
        }"
        [control]="razonSocial"
      />
    </div>

    <div
      class="flex w-full items-center py-5 border-b border-gray-division-section"
    >
      <app-label-input
        class="w-full"
        [labelHelp]="{
          isRequired: true,
          isWithHelp: false,
          isWithSubtitle: false,
          title: 'Fecha de constitución:',
          subtitle: '',
          position: 'right',
          helpMsg: '',
        }"
        [inputConfig]="{
          type: 'text',
          pattern: '',
          isRequired: true,
          placeHolder: '',
          isDisabled: false,
          isHidden: false,
          isRead: false,
        }"
        [control]="fechaConstitucion"
      />
    </div>

    <div
      class="flex w-full items-center py-5 border-b border-gray-division-section"
    >
      <app-label-input
        class="w-full"
        [labelHelp]="{
          isRequired: true,
          isWithHelp: true,
          isWithSubtitle: false,
          title: 'RFC:',
          subtitle: '',
          position: 'right',
          helpMsg: '12 o 13 caracteres alfanuméricos',
        }"
        [inputConfig]="{
          type: 'text',
          pattern: '',
          isRequired: true,
          placeHolder: 'Ej. ABC123456XYZ',
          isDisabled: false,
          isHidden: false,
          isRead: false,
        }"
        [control]="rfcMoral"
      />
    </div>

    <div
      class="flex w-full items-center py-5 border-b border-gray-division-section"
    >
      <app-label-input
        class="w-full"
        [labelHelp]="{
          isRequired: false,
          isWithHelp: false,
          isWithSubtitle: false,
          title: 'Giro / Actividad:',
          subtitle: '',
          position: 'right',
          helpMsg: '',
        }"
        [inputConfig]="{
          type: 'text',
          pattern: '',
          isRequired: false,
          placeHolder: 'Ingrese giro o actividad',
          isDisabled: false,
          isHidden: false,
          isRead: false,
        }"
        [control]="giroActividad"
      />
    </div>

    <div
      class="flex w-full items-center py-5 border-b border-gray-division-section"
    >
      <app-label-select
        class="w-full"
        [labelHelp]="{
          isRequired: false,
          isWithHelp: false,
          isWithSubtitle: false,
          title: 'Nacionalidad:',
          subtitle: '',
          position: 'right',
          helpMsg: '',
        }"
        [selectConfig]="{
          type: 'text',
          pattern: '',
          isRequired: false,
          placeHolder: 'Selecciona una opción',
          isDisabled: false,
          isHidden: false,
          data: [
            { value: 'mexicana', display: 'Mexicana' },
            { value: 'extranjera', display: 'Extranjera' },
          ],
        }"
      />
    </div>

    <div
      class="flex w-full items-center py-5 border-b border-gray-division-section"
    >
      <app-label-input
        class="w-full"
        [labelHelp]="{
          isRequired: false,
          isWithHelp: false,
          isWithSubtitle: false,
          title: 'Nombre del contacto:',
          subtitle: '',
          position: 'right',
          helpMsg: '',
        }"
        [inputConfig]="{
          type: 'text',
          pattern: '',
          isRequired: false,
          placeHolder: 'Ingrese nombre del contacto',
          isDisabled: false,
          isHidden: false,
          isRead: false,
        }"
        [control]="nombreContacto"
      />
    </div>

    <div
      class="flex w-full items-center py-5 border-b border-gray-division-section"
    >
      <app-label-input
        class="w-full"
        [labelHelp]="{
          isRequired: false,
          isWithHelp: true,
          isWithSubtitle: false,
          title: 'Folio mercantil (Solo nacionales):',
          subtitle: '',
          position: 'right',
          helpMsg: 'Solo aplica para nacionalidad mexicana',
        }"
        [inputConfig]="{
          type: 'text',
          pattern: '',
          isRequired: false,
          placeHolder: 'Ingrese folio mercantil',
          isDisabled: false,
          isHidden: false,
          isRead: false,
        }"
        [control]="folioMercantil"
      />
    </div>

    <div
      class="flex w-full items-center py-5 border-b border-gray-division-section"
    >
      <app-label-input
        class="w-full"
        [labelHelp]="{
          isRequired: false,
          isWithHelp: false,
          isWithSubtitle: false,
          title: 'Representante legal:',
          subtitle: '',
          position: 'right',
          helpMsg: '',
        }"
        [inputConfig]="{
          type: 'text',
          pattern: '',
          isRequired: false,
          placeHolder: 'Ingrese representante legal',
          isDisabled: false,
          isHidden: false,
          isRead: false,
        }"
        [control]="representanteLegal"
      />
    </div>

    <div
      class="flex w-full items-center py-5 border-b border-gray-division-section"
    >
      <app-label-select
        class="w-full"
        [labelHelp]="{
          isRequired: false,
          isWithHelp: false,
          isWithSubtitle: false,
          title: 'Tipo de identificación:',
          subtitle: '',
          position: 'right',
          helpMsg: '',
        }"
        [selectConfig]="{
          type: 'text',
          pattern: '',
          isRequired: false,
          placeHolder: 'Selecciona una opción',
          isDisabled: false,
          isHidden: false,
          data: [
            { value: 'ine', display: 'INE' },
            { value: 'pasaporte', display: 'Pasaporte' },
            { value: 'cedula', display: 'Cédula Profesional' },
          ],
        }"
      />
    </div>

    <div
      class="flex w-full items-center py-5 border-b border-gray-division-section"
    >
      <app-label-input
        class="w-full"
        [labelHelp]="{
          isRequired: false,
          isWithHelp: false,
          isWithSubtitle: false,
          title: 'No. de identificación:',
          subtitle: '',
          position: 'right',
          helpMsg: '',
        }"
        [inputConfig]="{
          type: 'text',
          pattern: '',
          isRequired: false,
          placeHolder: 'Ingrese número de identificación',
          isDisabled: false,
          isHidden: false,
          isRead: false,
        }"
        [control]="noIdentificacionMoral"
      />
    </div>

    <div
      class="flex w-full items-center py-5 border-b border-gray-division-section"
    >
      <app-label-input
        class="w-full"
        [labelHelp]="{
          isRequired: false,
          isWithHelp: false,
          isWithSubtitle: false,
          title: 'Observaciones:',
          subtitle: '',
          position: 'right',
          helpMsg: '',
        }"
        [inputConfig]="{
          type: 'text',
          pattern: '',
          isRequired: false,
          placeHolder: 'Ingrese observaciones',
          isDisabled: false,
          isHidden: false,
          isRead: false,
        }"
        [control]="observaciones"
      />
    </div>

    <div
      class="flex w-full items-center py-5 border-b border-gray-division-section"
    >
      <app-label-upload
        class="w-full"
        [labelHelp]="{
          isRequired: false,
          isWithHelp: true,
          isWithSubtitle: false,
          title: 'Firma electrónica A:',
          subtitle: '',
          position: 'right',
          helpMsg: 'PDF, JPG o PNG',
        }"
      />
    </div>
  </div>
}

<!-- ============================== -->
<!-- DOMICILIO - CAMPO COMPARTIDO   -->
<!-- ============================== -->
<div class="mt-6 mb-6">
  <h3 class="text-lg font-bold mb-4">Domicilio</h3>

  <div
    class="flex w-full items-center py-5 border-b border-gray-division-section"
  >
    <app-label-input
      class="w-full"
      [labelHelp]="{
        isRequired: true,
        isWithHelp: false,
        isWithSubtitle: false,
        title: 'Domicilio:',
        subtitle: '',
        position: 'right',
        helpMsg: '',
      }"
      [inputConfig]="{
        type: 'text',
        pattern: '',
        isRequired: true,
        placeHolder: 'Ingrese dirección',
        isDisabled: false,
        isHidden: false,
        isRead: false,
      }"
      [control]="domicilio"
    />
  </div>

  <div
    class="flex w-full items-center py-5 border-b border-gray-division-section"
  >
    <app-label-input
      class="w-full"
      [labelHelp]="{
        isRequired: false,
        isWithHelp: false,
        isWithSubtitle: false,
        title: 'Num. Exterior:',
        subtitle: '',
        position: 'right',
        helpMsg: '',
      }"
      [inputConfig]="{
        type: 'text',
        pattern: '',
        isRequired: false,
        placeHolder: 'Ingrese número exterior',
        isDisabled: false,
        isHidden: false,
        isRead: false,
      }"
      [control]="numExterior"
    />
  </div>

  <div
    class="flex w-full items-center py-5 border-b border-gray-division-section"
  >
    <app-label-input
      class="w-full"
      [labelHelp]="{
        isRequired: false,
        isWithHelp: false,
        isWithSubtitle: false,
        title: 'Num. Interior:',
        subtitle: '',
        position: 'right',
        helpMsg: '',
      }"
      [inputConfig]="{
        type: 'text',
        pattern: '',
        isRequired: false,
        placeHolder: 'Ingrese número interior',
        isDisabled: false,
        isHidden: false,
        isRead: false,
      }"
      [control]="numInterior"
    />
  </div>

  <div
    class="flex w-full items-center py-5 border-b border-gray-division-section"
  >
    <app-label-input
      class="w-full"
      [labelHelp]="{
        isRequired: false,
        isWithHelp: false,
        isWithSubtitle: false,
        title: 'Colonia:',
        subtitle: '',
        position: 'right',
        helpMsg: '',
      }"
      [inputConfig]="{
        type: 'text',
        pattern: '',
        isRequired: false,
        placeHolder: 'Ingrese colonia',
        isDisabled: false,
        isHidden: false,
        isRead: false,
      }"
      [control]="colonia"
    />
  </div>

  <div
    class="flex w-full items-center py-5 border-b border-gray-division-section"
  >
    <app-label-select
      class="w-full"
      [labelHelp]="{
        isRequired: true,
        isWithHelp: false,
        isWithSubtitle: false,
        title: 'País:',
        subtitle: '',
        position: 'right',
        helpMsg: '',
      }"
      [selectConfig]="{
        type: 'text',
        pattern: '',
        isRequired: true,
        placeHolder: 'Selecciona una opción',
        isDisabled: false,
        isHidden: false,
        data: [
          { value: 'mexico', display: 'México' },
          { value: 'otro', display: 'Otro' },
        ],
      }"
    />
  </div>

  <div
    class="flex w-full items-center py-5 border-b border-gray-division-section"
  >
    <app-label-input
      class="w-full"
      [labelHelp]="{
        isRequired: false,
        isWithHelp: true,
        isWithSubtitle: false,
        title: 'Lada:',
        subtitle: '',
        position: 'right',
        helpMsg: '2-3 dígitos',
      }"
      [inputConfig]="{
        type: 'text',
        pattern: '',
        isRequired: false,
        placeHolder: 'Ej. 55',
        isDisabled: false,
        isHidden: false,
        isRead: false,
      }"
      [control]="lada"
    />
  </div>

  <div
    class="flex w-full items-center py-5 border-b border-gray-division-section"
  >
    <app-label-input
      class="w-full"
      [labelHelp]="{
        isRequired: false,
        isWithHelp: true,
        isWithSubtitle: false,
        title: 'Teléfono:',
        subtitle: '',
        position: 'right',
        helpMsg: '7-8 dígitos',
      }"
      [inputConfig]="{
        type: 'text',
        pattern: '',
        isRequired: false,
        placeHolder: 'Ej. 12345678',
        isDisabled: false,
        isHidden: false,
        isRead: false,
      }"
      [control]="telefono"
    />
  </div>

  <div
    class="flex w-full items-center py-5 border-b border-gray-division-section"
  >
    <app-label-input
      class="w-full"
      [labelHelp]="{
        isRequired: true,
        isWithHelp: true,
        isWithSubtitle: false,
        title: 'CP:',
        subtitle: '',
        position: 'right',
        helpMsg: '5 dígitos',
      }"
      [inputConfig]="{
        type: 'text',
        pattern: '',
        isRequired: true,
        placeHolder: 'Ej. 06500',
        isDisabled: false,
        isHidden: false,
        isRead: false,
      }"
      [control]="cp"
    />
  </div>

  <div
    class="flex w-full items-center py-5 border-b border-gray-division-section"
  >
    <app-label-select
      class="w-full"
      [labelHelp]="{
        isRequired: true,
        isWithHelp: false,
        isWithSubtitle: false,
        title: 'Estado:',
        subtitle: '',
        position: 'right',
        helpMsg: '',
      }"
      [selectConfig]="{
        type: 'text',
        pattern: '',
        isRequired: true,
        placeHolder: 'Selecciona una opción',
        isDisabled: false,
        isHidden: false,
        data: [
          { value: 'cdmx', display: 'CDMX' },
          { value: 'estado-mexico', display: 'Estado de México' },
          { value: 'jalisco', display: 'Jalisco' },
        ],
      }"
    />
  </div>

  <div
    class="flex w-full items-center py-5 border-b border-gray-division-section"
  >
    <app-label-input
      class="w-full"
      [labelHelp]="{
        isRequired: true,
        isWithHelp: false,
        isWithSubtitle: false,
        title: 'Delegación / Municipio:',
        subtitle: '',
        position: 'right',
        helpMsg: '',
      }"
      [inputConfig]="{
        type: 'text',
        pattern: '',
        isRequired: true,
        placeHolder: 'Ingrese delegación o municipio',
        isDisabled: false,
        isHidden: false,
        isRead: false,
      }"
      [control]="delegacionMunicipio"
    />
  </div>
</div>

<!-- INFORMACIÓN DE CONTACTO - CAMPO COMPARTIDO -->
<div class="mt-6 mb-6">
  <h3 class="text-lg font-bold mb-4">Información de Contacto</h3>

  <div
    class="flex w-full items-center py-5 border-b border-gray-division-section"
  >
    <app-label-input
      class="w-full"
      [labelHelp]="{
        isRequired: true,
        isWithHelp: false,
        isWithSubtitle: false,
        title: 'Correo Electrónico:',
        subtitle: '',
        position: 'right',
        helpMsg: '',
      }"
      [inputConfig]="{
        type: 'text',
        pattern: '',
        isRequired: true,
        placeHolder: 'Ej. ejemplo@correo.com',
        isDisabled: false,
        isHidden: false,
        isRead: false,
      }"
      [control]="correoElectronico"
    />
  </div>
</div>

<div class="flex flex-row">
  <app-button class="w-1/3 mr-6" container-color (click)="limpiarFormulario()"
    >Limpiar Formulario</app-button
  >
  <app-button class="w-1/3" (click)="registrar()">Registrar</app-button>
</div>
