<div class="pt-10">
    <app-accordion-reusable class="flex flex-col gap-1">
        <app-accordion-reusable-item title="Administración del menú">
            <div class="py-2">
            <app-tree-view [nodes]="treeData"></app-tree-view>
            </div>
        </app-accordion-reusable-item>
    </app-accordion-reusable>
</div>

<div class="pt-10">
    <app-accordion-reusable class="flex flex-col gap-1">
        <app-accordion-reusable-item title="Administración del menú">
            <div class="py-2">
            <app-tree-view-profile
             [nodes]="treeDataP"
             [level]="0"
            ></app-tree-view-profile>
            </div>
        </app-accordion-reusable-item>
    </app-accordion-reusable>
</div>

<div class="pt-10">

    <div class="w-full flex justify-center">
        <div class="py-5 flex flex-row items-center justify-center content-center w-1/3">

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-20 ">
                <path stroke-linecap="round" stroke-linejoin="round" d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
            </svg>
            <span class="font-bold text-2xl w-full">Alta perfil</span>

        </div>
    </div>
    <div class="py-5 border-t border-gray-division-section">
    <app-label-input class="w-full"
		[labelHelp]="{
			isRequired: true,
			isWithHelp: true,
			isWithSubtitle: false,
			title: 'Nombre',
			subtitle: '',
			position: 'right',
			helpMsg: 'ayuda'
		}"
		[inputConfig]="{
			type: 'number',
			pattern: '',
			isRequired: false,
			placeHolder: 'Nombre...',
			isDisabled: false,
			isHidden: false,
			isRead: false,
		  }">

    </app-label-input>
    </div>
    <div class="grid grid-cols-3 items-center gap-y-2 py-5 border-t border-gray-division-section">
        <div class="col-span-3 md:col-span-1">
            <app-label-help [labelHelp]="{
                isRequired: true,
                isWithHelp: true,
                isWithSubtitle: false,
                title: 'Descripción',
                subtitle: '',
                position: 'right',
                helpMsg: 'ayuda'
            }" />
        </div>

        <div class="col-span-3 md:col-span-1">
            <app-textarea>

            </app-textarea>
        </div>
    </div>

    <div class="flex justify-center w-full items-center py-5 border-t border-gray-division-section">
        <app-button class="mr-2 hidden  md:inline-block" [buttonConfig]="{
            type: 0,
            label: ''
        }">
            Aceptar
        </app-button>
        <app-button class="mr-2 hidden  md:inline-block" [buttonConfig]="{
            type: 0,
            label: ''
        }">
            Cancelar
        </app-button>
    </div>

</div>
