<div class="w-full inline-flex rounded-md shadow-sm">
    <button *ngFor="let button of buttonsConig.data; let i = index" 
            (click)="buttonClicked(i + 1)" type="button"
            [ngClass]="{
                'text-white-buttons bg-red-mafe': optionSelected == (i + 1),
                'rounded-s-lg': i === 0,  
                'rounded-e-lg': i === buttonsConig.data.length - 1 }"
            class="w-1/4 inline-flex items-center justify-center py-2 text-black-text-input text-sm font-rbt-bold border border-gray-border-input">
      <img *ngIf="optionSelected == (i + 1)" class="ml-2" src="assets/icons/checkWhite.svg" alt="check">
      
      <span [ngClass]="{'pr-2': optionSelected == (i + 1)}" 
            class="text-center w-full">
        {{ button.display }}
      </span>
    </button>
</div>