<div class="bg-black px-5 p-3 rounded-lg w-64 overflow-auto ">
    <div class="mb-4">
        <label for="" class="text-title-menu">Automóviles</label>
    </div>
    <ul class="example-list text-gray-btn-subtitle">
        <li class="w-full py-2">
            <a (click)="navigation()" href="/auto/step1" class="flex items-center justify-between w-full">
                <div class="flex items-center w-3/4">
                    <span class="pr-3"><img src="/assets/icons/menu/Tablas.svg" alt=""></span>
                    <span class="text-sm text-item-menu">Cotiza y Emite</span>
                </div>
                <div class="">
                    <span class=" float-end"><img src="/assets/icons/menu/Vector.svg" alt=""></span>
                </div>
            </a>
        </li>
        <li class="w-full py-2">
            <button class="flex items-center justify-between w-full">
                <div class="flex items-center w-3/4">
                    <span class="pr-3"><img src="/assets/icons/menu/Endoso.svg" alt=""></span>
                    <span class="text-sm text-item-menu">Endoso Web</span>
                </div>
                <div class="">
                    <span class=" float-end"><img src="/assets/icons/menu/Vector.svg" alt=""></span>
                </div>
            </button>
        </li>
    </ul>
</div>