<h2 class="font-rbt-rglr text-xl font-bold mb-4">
	Mostrar Solicitud
</h2>

<div class="grid grid-cols-6 md:flex md:justify-between border-t py-4 border-gray-200 dark:border-gray-700">
	<div class="col-span-6 flex flex-col md:flex-row md:items-center md:justify-start w-full md:w-auto"></div>
</div>

<app-accordion-reusable class="flex flex-col">
	<app-accordion-reusable-item title="Formulario de Solicitud">
		<div class="py-4">
			<div class="flex w-full items-center py-5 border-b border-gray-division-section">
				<app-label-input class="w-full" [labelHelp]="{
					isRquired: true,
					isWithHelp: true,
					isWithSubtitle: false,
					title: 'Solicitud No.:',
					subtitle: '',
					position: 'right',
					helpMsg: 'ayuda',
				}" [inputConfig]="{
					type: 'text',
					pattern: '',
					isrequied: true,
					placeHolder: 'Ingresa numero de solicitud',
					isDisable: false,
					isHidden: false,
					isRead: false,
				}" />
			</div>

			<div class="flex w-full items-center py-5 border-b border-gray-division-section">
				<app-label-input class="w-full" [labelHelp]="{
					isRquired: true,
					isWithHelp: true,
					isWithSubtitle: false,
					title: 'Endoso:',
					subtitle: '',
					position: 'right',
					helpMsg: 'ayuda',
				}" [inputConfig]="{
					type: 'text',
					pattern: '',
					isrequied: true,
					placeHolder: 'Ingresa endoso',
					isDisable: false,
					isHidden: false,
					isRead: false,
				}" />
			</div>

			<div class="w-full mt-5 pb-5 inline-block md:flex md:justify-center">
				<app-button class="mr-4" (click)="limpiarFormulario()" [buttonConfig]="{
					type: 2,
					label: '',
				}">
					Limpiar
				</app-button>

				<app-button (click)="verSolicitud()" [buttonConfig]="{
					type: 0,
					label: '',
				}">
					Ver
				</app-button>
			</div>
		</div>
	</app-accordion-reusable-item>
</app-accordion-reusable>
